{% extends 'layout.html' %}

{% block body %}

    <div class="row">
        <div class="col-md-5">
            <div class="card card-body">
                <form action="/add_contact" method="POST">
                    <div class="form-group p-1">
                        <label for="fullname" class="form-label">Fullname</label>
                        <input type="text" name="fullname"me" class="form-control">
                    </div>
                    <div class="form-group p-1">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="number" name="phone" class="form-control">
                    </div>
                    <div class="form-group p-1">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" name="email" class="form-control">
                    </div>
                    <div class="form-group p-1">
                        <label for="note" class="form-label">Notes</label>
                        <textarea type="textarea" name="nota" row="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group p-1">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <button type="reset" class="btn btn-warning">Clear</button>
                    </div>
                </form>
            </div>

            <div class="container mt-2">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="col-md-7">
            <table class="table table-striped table-bordered">
                <thead >
                    <tr class="table-dark">
                        <td>Fullname</td>
                        <td>Phone</td>
                        <td>Email</td>
                        <td>Note</td>
                        <td>Operations</td>
                    </tr>
                </thead>
                <tbody>
                    {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.1 }}</td>
                        <td>{{ contact.2 }}</td>
                        <td>{{ contact.3 }}</td>
                        <td>{{ contact.4 }}</td>
                        <td>
                            <a href="/edit/{{contact.0}}" class="btn btn-primary">Edit</a>
                            <a href="/delete/{{contact.0}}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}